<div class="about">
    <div class="uk-child-width-expand@s" uk-grid>
        <div class="uk-grid-item-match header">
            <p><span class="iconify" data-icon="ic:baseline-bubble-chart" data-inline="false"></span>KENAPA KAMI ADA?
            </p>
            <h2 class="heading">We are agile, menekankan kelincahan dalam mengambil keputusan.</h2>
            <p class="text-heading">
                Membantu perusahaan mengelola sistem informasi yang bisa diakses secara global oleh management,
                karyawan, pelanggan dan pemasok, kapanpun, dimanapun, dengan mudah dari berbagai platform.
            </p>
        </div>
        <div>
            <img src="assets/undraw_team_ih79.svg" alt="nd">
        </div>
    </div>
    <div class="text-heading">
        <p>Ketika sebuah usaha telah tumbuh dari yang tadinya hanya dikelola oleh satu atau dua orang-owner, menjadi
            dikelola oleh banyak orang. Melibatkan banyak pemasok, dan tentu saja banyak pelanggan. Usaha menjadi tidak
            mudah untuk dikendalikan. Informasi akan kejadian-kejadian yang mempengaruhi perusahan berseliweran kesana
            kemari menjadi sebuah kerumitan. Hal ini jika tidak dikelola dengan baik, akan membuat sumbatan-sumbatan,
            yang berakibat pada menurunnya kinerja perusahaan.</p>

        <p>Kini, ketika arus informasi membesar. Ketika informasi tidak lagi dicari bahkan diberikan didorong,
            dijejalkan. Maka, persaingan menjadi begitu berat. Siapa yang berhasil mengelola informasi dengan baik,
            menyajikankan dalam bentuk yang berguna, dia yang akan menjadi pemenang. Dan semua itu terjadi sangat cepat.
        </p>

        <p>Atas dasar itulah, kami membangun solusi, yang menurut kami adalah core dari perusahaan, yaitu: accounting,
            payroll dan Human Resources. Kami ingin management, karyawan, pemasok bahkan pelanggan bisa berbagi
            informasi yang berguna, sesuai kebutuhan masing-masing pihak.</p>
    </div>
    <div class="about-us">
        <div class="headerfitur uk-text-left">
            <h2>Prinsip kami dalam membangun perusahaan</h2>
            <p class="text-heading">Kami percaya sepenuhnya apa yang diinginkan pelanggan adalah yang benar, sebab
                meraka menghadapi problem
                itu
                dari hari-ke hari. Jika mereka sudah menemukan solusi, buat kami itu adalah solusi yang terbaik, solusi
                yang
                teruji. Tugas kami adalah mendigitalkan solusi itu, membuatnya jadi otomatis dan terintegrasi, sehingga
                menjadi bagian seutuhnya dari sistem. Sehingga membuat informasi berjalan lebih cepat, terukur dan
                akurat.
                Selain itu kami juga menawarkar solusi-solusi yang mungkin bisa mengurangi bahkan menghilangkan rasa
                sakit.
            </p>
            <h3>Applikasi dibangun fokus pada kebutuhan pelanggan. Customer Development. </h3>
        </div>
        <div class="uk-child-width-expand@s uk-text-center" uk-grid="parallax: 50">
            <div>
                <div class="uk-card uk-card-default uk-card-body uk-grid-margin">
                    <span class="iconify" data-icon="mdi:bomb-off" data-inline="false"></span>
                    <h3>Tidak Gila Fitur</h3>
                    <p>Lebih baik punya sedikit fitur yang berguna bagi pelanggan daripada banyak fitur tidak berguna
                        [gila
                        fitur]. </p>
                </div>
                <div class="uk-card uk-card-default uk-card-body uk-grid-margin">
                    <span class="iconify" data-icon="mdi:weather-sunny" data-inline="false"></span>
                    <h3>Informasi Adanya Di Luar</h3>
                    <p>Informasi adanya di luar bukan di atas meja kami [tidak berasumsi bahwa kita tahu apa yang
                        dinginan
                        pelanggan].</p>
                </div>
                <div class="uk-card uk-card-default uk-card-body uk-grid-margin">
                    <span class="iconify" data-icon="mdi:recycle" data-inline="false"></span>
                    <h3>Siklus Development</h3>
                    <p>Menekankan pada proses hipotesis, pengujian, pembelajaran, pengulangan bukan eksekusi.</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body uk-grid-margin">
                    <span class="iconify" data-icon="mdi:image-filter-center-focus-weak" data-inline="false"></span>
                    <h3>Fokus Pada Segment Tertentu</h3>
                    <p>Kami hanya focus pada segmen dimana kami ahli dalam yang bersumber dari pengalaman kami lebih
                        dari 22
                        tahun di bisnis software.</p>
                </div>
                <div class="uk-card uk-card-default uk-card-body uk-grid-margin">
                    <span class="iconify" data-icon="ic:baseline-high-quality" data-inline="false"></span>
                    <h3>Yakin Pada Produk Berkualitas</h3>
                    <p>Kami sangat yakin bahwa produk berkualitas akan selalu dicari, kami hanya akan deliver produk
                        berkualitas.</p>
                </div>
                <div class="uk-card uk-card-default uk-card-body uk-grid-margin">
                    <span class="iconify" data-icon="bx:bx-trending-up" data-inline="false"></span>
                    <h3>Tumbuh Alami</h3>
                    <p>Eksekusi dilakukan bukan berdasarkan oleh pertumbuhan yang prematur. Tumbuh alami bukan karbitan.
                        [Don’t scale too fast]</p>
                </div>
            </div>
        </div>
    </div>
</div>