 .address{
      img{
          height: 25px;
          margin-bottom: 25px;
      }
    .iconify{
        font-size: 50px;
        padding: 10px;
        margin-left: -10px;
        margin-bottom: 5rem;
    }
    color: white;
  }
  .footer{
      h2{
        color: white;    
      }
      a{
        text-decoration: none;
        color: white;
      }
  }
  .afterfooter{
      padding: 20px;
      padding-top: 30px;
  }

  @media (max-width:900px) {
    .myfoot {
      text-align: center;
    }
  }